* {
	margin: 0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

ee-app, ee-tree, .ee-tree {
	display: block;
	width: inherit;
	height: inherit;
}

.ee-tree div, .ee-tree {
	display: flex;
	flex: 1;
	flex-direction: inherit;
}

ee-node {
	display: flex;
	flex: 1;
}

.ee-tree, .ee-node, .ee-panel {
	display: flex;
	flex: 1;
	position: relative;
}

.ee-node.hor, .ee-separator.hor {
	flex-direction: column;
}

.ee-node.vert, .ee-separator.vert {
	flex-direction: row;
}

.ee-separator {
	background: #eeeeee;
	width: 100%;
	height: 100%;
}

.ee-separator.hor {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding-top:1px;
	padding-bottom:1px;
	cursor: ns-resize;
}

.ee-separator.vert {
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding-left:1px;
	padding-right:1px;
	cursor: ew-resize;
}

.ee-node > div > div:last-child > ee-separator {
	display: none;
}
