* {
	margin: 0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: linear-gradient(to bottom, rgb(236, 236, 236) 0%,rgb(181, 181, 181) 100%) !important;
}

ee-app, ee-tree, .ee-tree {
	display: block;
	width: inherit;
	height: inherit;
}

.ee-tree, .ee-panel-container {
	flex-direction: column !important;
}

.ee-tree, .ee-tree div, .ee-node, .ee-panel {
	display: flex;
	flex: 1;
	flex-direction: inherit;
	position: relative;
}

ee-node {
	display: flex;
	flex: 1;
}

.ee-node.hor, .ee-separator.hor {
	flex-direction: column;
}

.ee-node.vert, .ee-separator.vert {
	flex-direction: row;
}

.ee-node > div > div:last-child > ee-separator {
	display: none;
}

.ee-panel-container {
	background: white;
	border-radius: 10px;
	overflow: hidden;
	margin: 1px;
}
